/* Map */
.c-mp_comisions_map { $c: &;
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
	padding: 2rem;
}

#map {
	height: 80vw;
	width: 90vw;
	border: 10px solid black;

	@media only screen and (max-width: $desktop) {
		height: 80vw;
		width: 90vw;
	}

	@media only screen and (max-width: $tablet) {
		height: 80vw;
		width: 90vw;
	}

	@media only screen and (max-width: $mobile) {
		height: 150vw;
		width: 95vw;
	}
}