/* Map */
.c-mp_comisions_map { $c: &;
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
	padding-bottom: 2rem;
}

#map {
	height: 40vw;
	width: 75vw;

	@media only screen and (max-width: $desktop) {
		height: 35vw;
		width: 70vw;
	}

	@media only screen and (max-width: $tablet) {
		height: 50vw;
		width: 70vw;
	}

	@media only screen and (max-width: $mobile) {
		height: 90vw;
		width: 90vw;
	}
}