/* Page tables */
.c-table {
	max-height: 500px;
	margin-bottom: 1rem;

	&__title {
		margin: 0;
		padding: 0;
		font-size: 36px;
		line-height: 1.12;

		@media only screen and (max-width: $tablet) {
			font-size: 36px;
		}

		@media only screen and (max-width: $mobile) {
			font-size: 32px;
		}
	}

	&__description {
		line-height: 1;

		@media only screen and (max-width: $mobile) {
			margin: 24px auto 0;
		}
	}

	&__table {
		max-height: 350px;
		overflow-y: scroll;
	}

	& tr {
		cursor: default;
	}
	& td {
		width: 25%;
		vertical-align: center;

		&.table-index {
			width: 20px;
		 }
	}
}