/* Page Heading */
.c-page-heading-with-image {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 80%;
	margin: 0 auto;
	padding: 56px 0 60px;
	text-align: center;

	@media only screen and (max-width: $desktop) {
		padding: 40px 0 60px;
	}

	@media only screen and (max-width: $tablet) {
		padding: 20px 0;
	}

	@media only screen and (max-width: $mobile) {
		padding: 10px 0;
	}

	&__title {
		margin: 0;
		font-size: 48px;
		line-height: 1;

		@media only screen and (max-width: $tablet) {
			font-size: 32px;
		}

		@media only screen and (max-width: $mobile) {
			font-size: 26px;
		}
	}

	&__image {
		margin: 20px auto 0;
		width: 100%;
		height: auto;
		border-radius: 2rem;

		@media only screen and (max-width: $mobile) {
			margin: 14px auto 0;
		}
	}
}